@CHARSET "UTF-8";
html, body {
	height: 100%;
	width: 100%;
	background-color: #303030;
}

div {
	text-align: left;
}

font {
	padding: 5px;
	color: #0099cc;
}

button {
	border-style: none;
	background-color: #0099CC;
	float: right;
	width: 10%;
	height: 80%;
}

.nicknameMessage {
	color: #0099cc;
}

.messages {
	width: 98%;
	height: 81%;
	padding: 3px;
	text-align: left;
	background-color: #CCCCCC;
	overflow: scroll;
}
.input {
	width: 98%;
	height: 13%;
	padding: 10px;
	background-color: #101010;
	text-align: left;
}

.textarea {
	width: 88%;
	height: 80%;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}

.nickname {
	width: 100px;
	height: 10%;
	text-align: left;
	vertical-align: top;
}

